@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Afacad Flux", serif;

}

.bg{
    width: 100%;
    height: 100%;
    background-image: url(/picture/bg.jpg);
    background-size: cover; 
    background-position: center; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.game-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9vw;
}

.game-picture{
    width: 80%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    border-radius: 3%;
    margin-top: 2vw;
}

.game-play{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

.game{
    width:12vw ;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: white;
}
.game1{
    width:15vw ;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: white;
}

.game:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
    
}

.scorebar{
    position: absolute;
    top: 30%;
    left: 1%;
    width: 13%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
    border-radius: 10%;
}

.game-img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.result{
    width:15vw ;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20%;
    color: white;
}

.log{
    position: absolute;
    right: 2.5%; 
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logpic{
    width: 9vw;
    height: 9vw; 
    border-radius: 50%;
}
.logpic:hover{
    cursor: pointer;
}

.modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}

.navbar{
    background-color: #212529;
    position: fixed;
    width: 100%;
}

.nav-item{
    color: white;
}
.navbaricon{
    display: flex;
    gap: 3vw;
    margin: 7vw;
    color: white;
}
.navcontainer{
    display: flex;
    height: 4vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4vw;
    color: white;
}
.nav-link{
    color: white;
}

.nav-link-purpose{
    color: white;
}
.nav-link:hover{
    color: #abafb3;
}


ul {
    list-style-type: none;
}

.scorefront{
    font-size: 2vw;
}

.result-p{
    font-size: 4vw;
    
}

.section{
    position: absolute;
    top: 11%;
    left: 36%;
    width: 30%;
    height: 10%;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.sectionfront{
    font-size: 3vw;
    text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3), 
                 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.modal-page{
    width: 45%;
    height: 70%;
    background-color: #212529;
    border-radius: 5%;
    text-align: center;
    justify-items: center;
    font-size: 3vw;
    border: 3px solid white;
    color: white;
    padding-top: 1.5vw;
    /* overflow-y: auto; */
}

.log-list{
    width: 40vw;
    height: 9vw;
    background-color: #343541;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5vw;
}
.log-img{
    width: 6.5vw;
    height: 6.5vw;
    object-fit: cover;
    border-radius: 50%;
}

.log-list-page{
    background-color: #212529;
    width: 90%;
    height: 80%;
    justify-items: center;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.log-list-page::-webkit-scrollbar {
    width: 0vw; 
}


.close-modal{
    width: 10%;
    height: 10%;
    position: absolute;
    right: 26%;
}

.closepic{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.closepic:hover{
    cursor: pointer;
}