*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url(picture/bg.jpg);
    background-size: cover; 
    background-position: center; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.game-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.game-picture{
    width: 80%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    border-radius: 5%;
}

.game-play{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

.game{
    width:15vw ;
    height: 15vw;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: white;
}

.game:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.scorebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.game-img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.result{
    width:15vw ;
    height: 15vw;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20%;
    color: white;
}

.log{
    position: absolute;
    right: 0.8%; 
    top: 50%;
    transform: translateY(-50%);  
    display: flex;
    justify-content: center;
    align-items: center;
}
.logpic{
    width: 6vw;
    height: 6vw; 
    border-radius: 50%;
}
.logpic:hover{
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
